{% extends 'weight.html' %}
{% load widget_tweaks %}

{% block title %} Bascula {% endblock %}

{% block content %} 
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-primary" href="{% url 'weight:add' %}" role="button">Agregar nuevo registro</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Báscula</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Folio</th>
                        <th>Tipo de Producto</th>
                        <th>Fecha</th>
                        <th>Productor</th>
                        <th>ID</th>
                        <th>Nombre del Chofer</th>
                        <th>Peso Kg</th>
                        <th>Peso libras</th>
                        <th>Hora de llegada</th>
                        <th>Hora de apertura de puerta</th>
                        <th>Hora de Carga/Descarga</th>
                        <th>Hora de salida</th>
                        <th>Tiempo en fila</th>
                    </tr>
                </thead>
                <tbody>
                    {% for weight in weight %}
                        <tr>
                            <td>{{ weight.folio }}</td>
                            <td>{{ weight.tproducto }}</td>
                            <td>{{ weight.fecha }}</td>
                            <td>{{ weight.prodoembarc }}</td>
                            <td>{{ weight.proveedor }}</td>
                            <td>{{ weight.nombrechof }}</td>
                            <td>{{ weight.pesoton }}</td>
                            <td>{{ weight.pesolib }}</td>
                            <td>{{ weight.horallegada }}</td>
                            <td>{{ weight.horaapertura }}</td>
                            <td>{{ weight.horacarga }}</td>
                            <td>{{ weight.horasalida }}</td>
                            <td>{{ weight.tiempoenfila }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    

{% endblock %}